@model ContractViewModel

<form asp-controller="Contract" asp-action="_Create" method="post">

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Create New Contract</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tb-card-body">
                        <div class="tb-padd-lr-30 tb-alert-wrap">
                            <div class="tb-height-b25 tb-height-lg-b25"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Contract Number</label>
                                    @Html.EditorFor(model => model.Contract.CONTRACTNUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">PO Number</label>
                                    @Html.EditorFor(model => model.Contract.PONUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Contract Name</label>
                                    @Html.EditorFor(model => model.Contract.CONTRACTNAME, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Quality Specification</label>
                                    @Html.TextAreaFor(model => model.Contract.QUALITYSPECIFICATION, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Payment Tenor (Days)</label>
                                    @Html.EditorFor(model => model.Contract.PAYMENTTENOR, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Description</label>
                                    @Html.TextAreaFor(model => model.Contract.DESCRIPTION, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Timeline (Days)</label>
                                    @Html.EditorFor(model => model.Contract.TIMELINEDAYS, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Vendor Category</label>
                                    @Html.DropDownListFor(model => model.Contract.VENDORCATEGORY, new SelectList(Model.VendorCategory, "Text", "Value"), new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Other Information</label>
                                    @Html.TextAreaFor(model => model.Contract.OTHERINFORMATION, new { @class = "form-control" })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Required Documents</label>
                                    @Html.TextAreaFor(model => model.Contract.REQUIREDDOCUMENTS, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Initiator Name</label>
                                    @Html.EditorFor(model => model.Contract.CREATEDBYNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Date Initiated</label>
                                    @Html.EditorFor(model => model.Contract.CREATEDDATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <hr />
                            <div class="form-row">
                                <h4 style="font-weight:bold; font-family:Calibri">User Defined Fields</h4>
                                <p>
                                    <div class="form-row">
                                        <div class="form-group col-md-4">
                                            <label>User Defined Field Label</label>
                                            @Html.Editor("udflabel", new { htmlAttributes = new { @class = "form-control", @id = "udflbl" } })
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label>User Defined fields Type</label>
                                            @Html.DropDownList("udfType", new List<SelectListItem>() {
                                                new SelectListItem() { Text="Text Field", Value = "Text"},
                                                new SelectListItem() { Text="Upload Field", Value = "Upload"},
                                            }, new { @class = "form-control", id = "udftyp" })
                                        </div>
                                        <div class="form-group col-md-3">
                                            <label style="visibility:hidden">Validate User </label>
                                            <button type="button" id="btnAddMain" class="btn btn-primary" style="background-color:#fe7005">Add UDF</button>
                                        </div>
                                    </div>
                                </p>
                            </div>
                            <hr />
                            <div class="form-row">
                                <div class="form-group col-md-12">                                    
                                    <div id="dvUDFList">
                                        <partial name="_UDF" for="UdfDetails" />
                                    </div>
                                </div>
                                <p></p>
                            </div>
                            <div class="tb-height-b15 tb-height-lg-b15"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
    <script>

$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
	});
    </script>

</form>
        <script>
         $('#btnAddMain').on('click', function () {
       // preventDefault();
             var udfDetails = {};
             var udfLbl = $("#udflbl").val();
             var udfTyp = $("#udftyp").val();
             console.log("Udf Label :: " + udfLbl + " :: udfType :: " + udfTyp);
                
             $.ajax({
                 url: "@Url.Action("AddUDF", "Contract")",
                 type: 'Post',
                 data: { UdfLabel: udfLbl, UdfType: udfTyp },
                 cache: true,
                 success: function (result) {
                     console.log("UDF Response :: " + result);
                     $("#dvUDFList").html(result);
                 }
             });
             return false;
         });
        </script>



