@model VendorBatchDetailsPending


<form asp-controller="VendorBulkUpload" asp-action="_Authorize" method="post" autocomplete="off">

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    } <div id="view-issue" class="modal fade view-issue" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Authorize Vendor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tb-card-body">
                        <div class="tb-padd-lr-30 tb-alert-wrap">
                            <div class="tb-height-b25 tb-height-lg-b25"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Vendor Category</label>
                                    @Html.HiddenFor(model => model.ID)
                                            </div>
                               
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label>Action</label>
                                    @Html.DropDownListFor(model => model.AUTHORIZATIONSTATUS, new List<SelectListItem> {
                                        new SelectListItem{ Text="--Select--", Value="" },
                                        new SelectListItem{ Text="Approve", Value="1" },
                                        new SelectListItem{ Text="Reject", Value="2"}
                                    }, new { @class = "form-control", @id = "stat" })
                                    <label id="errorMsgAction" style="color:red;display:none">*Authorization Action is required!.</label>
                                </div>
                                <div class="form-group col-md-8">
                                    <label>Comment</label>
                                    @Html.TextAreaFor(model => model.AUTHORIZERCOMMENT, new { @class = "form-control", @id = "comment" })
                                    <label id="errorMsg" style="color:red;display:none">*Comment is required for rejected request.</label>

                                </div>
                            </div>
                            <div class="tb-height-b15 tb-height-lg-b15"></div>
                        </div>

                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Vendor Bulk</label>
                                    @Html.EditorFor(model => model.vendorbulk, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>

                                
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Initiator</label>
                                    @Html.EditorFor(model => model.CREATEDBYNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Date Initiated</label>
                                    @Html.EditorFor(model => model.DATECREATED, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            @*Remove the footer*@
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Authorize</button>
                </div>
            </div>
        </div>
    </div>

    <script>
$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
	});
	$("form").submit(function (e) {
		var comment = $("#comment").val();
        var status = $("#stat").val();
        if (status == "") {
            $("#errorMsgAction").show();
            return false;
        }
		if (status == "2" && comment == '') {
			$("#errorMsg").show();
			return false;
		}
		else {
			return true;
		}
	});
    </script>
</form>



