@model ContractDetailsViewModel

<div class="container-fluid">
    <!-- body of bashboard -->
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 class="page-title">Contracts - @Model.Contract.CONTRACTNUMBER</h3>
            <p>@DateTime.Now.ToShortDateString()</p>

        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs mb-4 border-bottom-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active tab-btn " id="contract-details-tab" data-toggle="tab"
                                data-target="#contractDet" type="button" role="tab" aria-controls="contract-details"
                                aria-selected="true">
                            Contract Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-btn" id="bids-tab" data-toggle="tab"
                                data-target="#bids" type="button" role="tab" aria-controls="bids"
                                aria-selected="false">
                            Bids
                        </button>
                    </li>

                </ul>
                <div>
                    @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                        Download Data <img src="~/assets/images/file-download-icon.png" />
                    </button>*@
                </div>
            </div>

                
                <div class="tab-content" id="myTabContent">
                    <div class="card my-card tab-pane " id="bids">
                        <div class="card-body px-0">
                            <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                                <h4 class="card-title mb-0">
                                    <a href="@Url.Action("Index", "Contract")">
                                        <img src="~/assets/images/arrow-back-icon.png" title="Download File" />
                                    </a>&nbsp; &nbsp;
                                    Bids
                                </h4>

                            </div>

                            <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                                <table id="example" class="table  example" style="width:100%">
                                    <thead style="text-align:left">
                                        <tr>
                                            <th>S/N</th>
                                            <th>Vendor Name</th>
                                            <th>Vendor Email</th>
                                            <th>ResponseStatus</th>
                                            <th>Date Recieved</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 1; }
                                        @if (Model == null)
                                        {
                                            <tr>
                                                <td colspan="5">No Record Found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.ResponseList)
                                            {
                                                <tr>
                                                    <td>
                                                        <label> @i </label>
                                                        @{ i++; }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.VENDORNAME)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink(item.VENDOREMAIL, "GetVendorResponseById", new { responseId = item.ID }, new { @class = "link blue", @id = "lnkcontract" })
                                                    </td>
                                                    <td>
                                                        @if (item.RESPONSESTATUS == "Awarded")
                                                        {
                                                            <div class="status alert alert-success mb-0 py-1" role="alert">
                                                                <label>Awarded</label>
                                                            </div>
                                                        }
                                                        else if (item.RESPONSESTATUS == "Ongoing")
                                                        {
                                                            <div class="status alert alert-primary mb-0 py-1" role="alert">
                                                                <label>In Progress</label>
                                                            </div>
                                                        }
                                                        else if (item.RESPONSESTATUS == "Rejected")
                                                        {
                                                            <div class="status alert alert-danger mb-0 py-1" role="alert">
                                                                <label>Rejected</label>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DATECREATED)
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>


                            </div>
                            @*<div class="card-pagination-wrapper p-4 d-flex justify-content-between">
                            <div class="pagination-text">
                                <p class="mb-0">Showing 1 - 10 of 25 entries</p>
                            </div>
                            <div class="page-numbers d-flex align-items-center">
                                <a href="#" class="blue link p-1 disabled">Previous</a>
                                <a href="#" class="blue link p-1">1</a>
                                <a href="#" class="blue active p-1 link">2</a>
                                <a href="#" class="blue link p-1">3</a>
                                <a href="#" class="blue link">Next</a>
                            </div>
                        </div>*@
                        </div>
                    </div>


                    <div class="card my-card tab-pane active" id="contractDet">
                        <div class="card-body px-0">
                            <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                                <h4 class="card-title mb-0">
                                    <a href="@Url.Action("Index", "Contract")">
                                        <img src="~/assets/images/arrow-back-icon.png" title="Download File" />
                                    </a> &nbsp; &nbsp;
                                    Details
                                </h4>

                            </div>
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <div class="notif-wrapper p-3 notif-card " style="justify-content:center">
                                        <div class="contract-item">
                                            <h4>
                                                Name of Item:
                                            </h4>
                                            <p>@Model.Contract.CONTRACTNAME</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Quality:
                                            </h4>
                                            <p>@Model.Contract.QUALITYSPECIFICATION</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Contract Amount:
                                            </h4>
                                            <p>@Model.Contract.ContractAmount</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Description:
                                            </h4>
                                            <p>
                                                @Model.Contract.DESCRIPTION
                                            </p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Vendor Category:
                                            </h4>
                                            <p>
                                                @Model.Contract.VENDORCATEGORY
                                            </p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Other Information:
                                            </h4>
                                            <p>@Model.Contract.OTHERINFORMATION</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Initiated Date:
                                            </h4>
                                            <p>@Model.Contract.CREATEDDATE</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Timeline for
                                                Fulfilment:
                                            </h4>
                                            <p>@Model.Contract.TIMELINEDAYS</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Payment Tenor:
                                            </h4>
                                            <p>@Model.Contract.PAYMENTTENOR</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Required
                                                Documents:
                                            </h4>
                                            <p>@Model.Contract.REQUIREDDOCUMENTS</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                Contract Number:
                                            </h4>
                                            <p>@Model.Contract.CONTRACTNUMBER</p>
                                        </div>
                                        <div class="contract-item">
                                            <h4>
                                                PO Number:
                                            </h4>
                                            <p>@Model.Contract.PONUMBER</p>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                            



                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- end of modal drawer-->
    <!--end of body-->
</div>
<div id="cmodal"></div>
@section Scripts{ 
<script>
    $("a.link").on('click', function () {
        $.ajax({
            url: this.href,
            type: 'Get',
            cache: true,
            success: function (result) {
                $('#cmodal').html(result).find('.modal').modal({
                    show: true
                });
            }
        });
        return false;
    });
</script>
}