@model ContractResponseViewModel
@{
    ViewData["Title"] = "Contract Response";
}

<form method="post" enctype="multipart/form-data" asp-controller="ContractResponse" asp-action="ContractResponse" autocomplete="off">

    <div class="container-fluid">

        <!-- Page Heading -->
        <p>
            <label id="lblmsg" style="color:red">@Html.TempData["contractRespMsg"]</label>
        </p>

        <div class="card my-card">
            <div class="card-body px-0">
                <div class="header px-4 pb-3 d-flex justify-content-center align-items-center">
                    <h5 class="card-title mb-0">Contracts Bid</h5>



                </div>
                @*<div class="table-responsive">*@

                <div class="form-body p-5">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Contract Number</label>
                            @Html.HiddenFor(model => model.ContractDetails.ID)
                            @Html.EditorFor(model => model.ContractDetails.CONTRACTNUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">PO Number</label>
                            @Html.EditorFor(model => model.ContractDetails.PONUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Contract Name</label>
                            @Html.EditorFor(model => model.ContractDetails.CONTRACTNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Contract Amount</label>
                            @Html.EditorFor(model => model.ContractDetails.ContractAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputEmail4">Payment Tenor (Days)</label>
                            @Html.EditorFor(model => model.ContractDetails.PAYMENTTENOR, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Quality Specification</label>
                            @Html.TextAreaFor(model => model.ContractDetails.QUALITYSPECIFICATION, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                       
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Description</label>
                            @Html.TextAreaFor(model => model.ContractDetails.DESCRIPTION, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Timeline (Days)</label>
                            @Html.EditorFor(model => model.ContractDetails.TIMELINEDAYS, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Vendor Category</label>
                            @Html.EditorFor(model => model.ContractDetails.VENDORCATEGORY, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Other Information</label>
                            @Html.TextAreaFor(model => model.ContractDetails.OTHERINFORMATION, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Required Documents</label>
                            @Html.TextAreaFor(model => model.ContractDetails.REQUIREDDOCUMENTS, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Created By</label>
                            @Html.EditorFor(model => model.ContractDetails.CREATEDBYNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Date Created</label>
                            @Html.EditorFor(model => model.ContractDetails.CREATEDDATE, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label asp-for="SupportingDocument1">Supporting Document</label>
                            &nbsp;<label style="color:red">*Allowed files- jpg,jpeg,png and pdf</label>
                            <div class="custom-file">
                                <input asp-for="SupportingDocument1" class="form-control custom-file-input" />
                                <label id="fileupload" class="custom-file-label">Choose File..</label>
                            </div>
                        </div>
                       

                        <div class="form-group col-md-6">
                            <label asp-for="SupportingDocument2">Additional Supporting Document</label>
                            &nbsp;<label style="color:red">*Allowed files- jpg,jpeg,png and pdf</label>
                                  <div class="custom-file">
                                      <input asp-for="SupportingDocument2" class="custom-file-input" />
                                      <label id="fileupload" class="custom-file-label">Choose File..</label>

                                  </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Comment</label>
                            @Html.TextAreaFor(model => model.ContractResponse.VENDORCOMMENT, new { @class = "form-control" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-row">


                        @for (int i = 0; i < Model.UdfDetails.Count; i++)
                        {
                            @Html.HiddenFor(model => model.UdfDetails[i].UdfDetails)
                            @Html.HiddenFor(model => model.UdfDetails[i].UdfDetails.UDFTYPE)
                            @Html.HiddenFor(model => model.UdfDetails[i].UdfDetails.UDFLABEL)

                            if (Model.UdfDetails[i].UdfDetails.UDFTYPE == "Text")
                            {
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4"> @Model.UdfDetails[i].UdfDetails.UDFLABEL</label>
                                    @Html.TextAreaFor(model => model.UdfDetails[i].TextValue, new { @class = "form-control" })
                                </div>
                            }
                            else
                            {
                                <div class="form-group col-md-6">
                                    <label>@Model.UdfDetails[i].UdfDetails.UDFLABEL</label>
                                    &nbsp;<label style="color:red">*Allowed files- jpg,jpeg,png and pdf</label>
                                    <div class="custom-file">
                                        <input asp-for="@Model.UdfDetails[i].SupportingDoc" class="form-control custom-file-input" />
                                        <label id="fileupload" class="custom-file-label">Choose File..</label>
                                    </div>
                                    @*<span asp-validation-for="SupportingDoc" class="text-danger"></span>*@
                                </div>
                            }
                        }
                    </div>
                    @*<div class="modal-footer modal-footer-fixed border-top-0 d-flex justify-content-center"
                             style="column-gap: 30px;">


                            <button type="button" v-on:click="addField"
                                    class="btn btn-outline-primary blue-outline-btn btn-sm"
                                    style="width: 128px;">
                                Create
                            </button>
                        </div>*@

                    <div class="row my-3 d-flex justify-content-center">
                        <div class="col-md-6">
                            <input type="submit" name="Submit" class="my-primary primary-btn btn wid100" id="btnSubmit" />
                            @* &nbsp;&nbsp;&nbsp;
                                <input type="button" value="Cancel" id="cancel" class="btn btn-dark" style="width:120px" />*@

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change",
                function () {
                    var fileName = $(this).val().split("\\").pop();
                    $(this).next('.custom-file-label').html(fileName);
                });
        });
        $(".custom-file-input").on("change", function (e) {
            console.log(this.files);
            if (this.files.length > 0) {
                var ext = this.files[0].type;
                if (ext == "application/pdf" || ext == "image/jpg" || ext == "image/jpeg" || ext == "image/png") {

                } else {
                    swal("Invalid file extension. Kindly upload an allowed file extension.");
                    this.files[0].File.val('');
                }
            }
            
        });
    </script>
}