@model IEnumerable<VendorContractListModel>
@{
    ViewData["Title"] = "Vendor Contract";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 class="page-title">Contracts</h3>
            <p>@DateTime.UtcNow.ToShortDateString()</p>

        </div>
    </div>

    <div class="row mt-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="search-group">
                <input type="text" style="width: 300px;" placeholder="search" id="txtSearch" class="form-control pl-5"
                       aria-label="Text input with checkbox">
                <i class="fa fa-search"></i>
            </div>

            @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                Download Data <img src="~/assets/images/file-download-icon.png" />
            </button>*@
        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="card my-card">
                <div class="card-body px-0">
                    <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Contracts List</h5>

                    </div>

                    <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                        <table id="contractTable" class="table" style="width:100%">
                            <thead style="text-align:left">
                                <tr>
                                    <th>S/N</th>
                                    <th>Contract No</th>
                                    <th>Description</th>
                                    <th>Contract Amount</th>
                                    <th>Payment Tenor</th>
                                    <th>PO Number</th>
                                    <th>Client</th>
                                    <th>Date Created</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @if (Model == null)
                                {
                                    <tr>
                                        <td colspan="8">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <label> @i </label>
                                                @*<label>pageSize * (pageNum - 1) +  @i</label>  //your serial no*@
                                                @{ i++; }
                                            </td>
                                            <td>
                                                @Html.ActionLink(item.CONTRACTNUMBER, "GetVendorContractModal", new { contractId = item.ID, contractStatus = item.CONTRACTSTATUS }, new { @class = "link blue", @id= "lnkcontract" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DESCRIPTION)
                                               
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CONTRACTAMOUNT)
                                               
                                            </td>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PAYMENTTENOR)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PONUMBER)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CORPORATENAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                            </td>

                                            <td>
                                                @if (item.CONTRACTSTATUS == "Awarded")
                                                {
                                                    <div class="status alert alert-success mb-0 py-1" role="alert">
                                                        <label style="width:80px">Awarded</label>
                                                    </div>
                                                }
                                                else if (item.CONTRACTSTATUS == "Rejected")
                                                {
                                                    <div class="status alert alert-danger mb-0 py-1" role="alert">
                                                        <label style="width:80px">Rejected</label>
                                                    </div>
                                                }
                                                else if (item.CONTRACTSTATUS == "Completed")
                                                {
                                                    <div class="status alert alert-info mb-0 py-1" role="alert">
                                                        <label style="width:80px">Completed</label>
                                                    </div>
                                                }
                                                else if (item.CONTRACTSTATUS == "New")
                                                {
                                                    <div class="status alert alert-warning mb-0 py-1" role="alert">
                                                        <label style="width:80px"> New </label>
                                                    </div>
                                                }
                                                else if (item.CONTRACTSTATUS == "Pending")
                                                {
                                                    <div class="status alert alert-dark mb-0 py-1" role="alert">
                                                        <label style="width:80px">Pending</label>
                                                    </div>
                                                }
                                                else if (item.CONTRACTSTATUS == "Declined")
                                                {
                                                    <div class="status alert alert-danger mb-0 py-1" role="alert">
                                                        <label style="width:80px">Declined</label>
                                                    </div>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                   
                </div>
            </div>
        </div>
    </div>

</div>

<div id="cmodal"></div>
@section Scripts
	{
    <script>

        $(document).ready(function () {
            var vendorTable = $('#contractTable').DataTable({
                dom: 'lrtip',
                order: [],
                paging: true,
                info: true,
                buttons: [
                    {
                        extend: 'excel',
                        className: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        footer: true,
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF'
                    }
                ]
            });
        });
        $("a.link").on('click', function () {
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#cmodal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });
            return false;
        });
        $('#txtSearch').on('keyup', function () {
            var searchTxt = $("#txtSearch").val();
            $('#contractTable').DataTable().search(searchTxt).draw();
        });
        
    </script>
}

