@model CategoryListViewModel

<form asp-controller="VendorCategoryList" asp-action="_Edit" method="post" autocomplete="off">

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Modify Category Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tb-card-body">
                        <div class="tb-padd-lr-30 tb-alert-wrap">
                            <div class="tb-height-b25 tb-height-lg-b25"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Status</label>
                                    @Html.HiddenFor(model => model.categoryList.ID)
                                    @Html.DropDownListFor(model => model.categoryList.STATUS, new List<SelectListItem>{
                                                                             new SelectListItem() { Text = "ACTIVE", Value = "1" },
                                                                             new SelectListItem() { Text = "DISABLE", Value = "0" }
                                                                         }, new { @class = "form-control" }) <label for="inputEmail4">Active</label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Category Name</label>
                                    @Html.EditorFor(model => model.categoryList.CategoryName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                               
                            </div>
                            
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Initiator</label>
                                    @Html.EditorFor(model => model.categoryList.CREATEDBYNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Date Initiated</label>
                                    @Html.EditorFor(model => model.categoryList.DATECREATED, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="tb-height-b15 tb-height-lg-b15"></div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>


    <script>
$.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
	});
    </script>
</form>
