@model CorporateDetails


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">@Model.CORPORATENAME</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/images/close-icon.png" />
                </button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="contract-item">
                    <h4>
                        Corporate Name:
                    </h4>

                    <p>@Model.CORPORATENAME</p>
                </div>
                
                <div class="contract-item">
                    <h4>
                        Email Address:
                    </h4>
                    <p>
                        @Model.PRINCIPALEMAIL
                    </p>
                </div>
                <div class="contract-item">
                    <h4>
                        Phone Number:
                    </h4>
                    <p>@Model.PRINCIPALPHONENO</p>
                </div>
                <div class="contract-item">
                    <h4>
                        Primary Account
                        Number:
                    </h4>
                    <p>@Model.PRINCIPALACCOUNTNO</p>
                </div>
                

                <div class="contract-item">
                    <h4>
                        Line Of Credit:
                    </h4>
                    <p>@Model.AVAILABLELINEOFCREDIT</p>
                </div>

                <div class="contract-item">
                    <h4>
                        Interest Rate:
                    </h4>
                    <p>@Model.INTERESTRATE</p>
                </div>
                
                <div class="contract-item">
                    <h4>
                        Date Created:
                    </h4>
                    <p>@Model.CREATEDDATE</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
	    });
</script>

