@model CorporateVendorContractVWModel

<div class="container-fluid">
    <!-- body of bashboard -->
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 class="page-title">Contracts - @Model.Corporatedetails.CORPORATENAME</h3>
            <p>@DateTime.Now.ToShortDateString()</p>

        </div>
    </div>

    <div class="row my-5">
        <div class="col-12">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <ul class="nav nav-tabs mb-4 border-bottom-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active tab-btn " id="corporate-details-tab" data-toggle="tab"
                                data-target="#corporateDet" type="button" role="tab" aria-controls="corporate-details"
                                aria-selected="true">
                            Corporate Details
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-btn" id="vendor-tab" data-toggle="tab"
                                data-target="#vendor" type="button" role="tab" aria-controls="vendor"
                                aria-selected="false">
                            Vendors
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-btn" id="contract-tab" data-toggle="tab"
                                data-target="#contract" type="button" role="tab" aria-controls="contract"
                                aria-selected="false">
                            Contracts
                        </button>
                    </li>

                </ul>
                <div>
                    @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                        Download Data <img src="~/assets/images/file-download-icon.png" />
                    </button>*@
                </div>
            </div>


            <div class="tab-content" id="myTabContent">
                <div class="card my-card tab-pane " id="vendor">
                    <div class="card-body px-0">
                        <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">
                                <a href="@Url.Action("Index", "Corporate")">
                                    <img src="~/assets/images/arrow-back-icon.png" title="Download File" />
                                </a>&nbsp; &nbsp;
                                Vendor List
                            </h4>

                        </div>

                        <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                            <table id="example" class="table  example" style="width:100%">
                                <thead style="text-align:left">
                                    <tr>
                                        <th>S/N</th>
                                        <th>Vendor Name</th>
                                        <th>Contract</th>
                                        <th>Invoice DiscountingRequests</th>
                                        <th>Invoices</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int i = 1; }
                                    @if (Model.VendoBreakDown == null)
                                    {
                                        <tr>
                                            <td colspan="5">No Record Found</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.VendoBreakDown)
                                        {
                                            <tr>
                                                <td>
                                                    <label> @i </label>
                                                    @{ i++; }
                                                </td>
                                                <td>
                                                    @Html.ActionLink(item.VendorName, "", new { responseId = item.VendorEmail }, new { @class = "link blue", @id = "lnkcontract" })

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ContractResponseCount)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InvoiceDiscountingCount)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InvoiceCount)

                                                </td>

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>

                <div class="card my-card tab-pane " id="contract">
                    <div class="card-body px-0">
                        <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">
                                <a href="@Url.Action("Index", "Corporate")">
                                    <img src="~/assets/images/arrow-back-icon.png" title="Download File" />
                                </a>&nbsp; &nbsp;
                                Contract List
                            </h4>

                        </div>

                        <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                            <table id="example2" class="table  example" style="width:100%">
                                <thead style="text-align:left">
                                    <tr>
                                        <th>S/N</th>
                                        <th>Description</th>
                                        <th>Contract Number</th>
                                        <th>Payment Tenor</th>
                                        <th>PO NUmber</th>
                                        <th>Vendor</th>
                                        <th>Date Recieved</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int j = 1; }
                                    @if (Model.Contracts == null)
                                    {
                                        <tr>
                                            <td colspan="5">No Record Found</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        @foreach (var item in Model.Contracts)
                                        {
                                            <tr>
                                                <td>
                                                    <label> @i </label>
                                                    @{ j++; }
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DESCRIPTION)

                                                </td>
                                                <td>
                                                    @* @Html.ActionLink(item.Name, "GetVendorDetail", new { responseId = item.ID }, new { @class = "link blue", @id = "lnkcontract" })*@
                                                    @Html.ActionLink(item.CONTRACTNUMBER, "", new { responseId = item.ID }, new { @class = "link blue", @id = "lnkcontract" })

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PAYMENTTENOR)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.PONUMBER)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.VENDORNAME)

                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                        </div>

                    </div>
                </div>


                <div class="card my-card tab-pane active" id="corporateDet">
                    <div class="card-body px-0">
                        <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                            <h4 class="card-title mb-0">
                                <a href="@Url.Action("Index", "Corporate")">
                                    <img src="~/assets/images/arrow-back-icon.png" title="Download File" />
                                </a> &nbsp; &nbsp;
                                Details
                            </h4>

                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="notif-wrapper p-3 notif-card " style="justify-content:center">
                                    <div class="contract-item">
                                        <h4>
                                            Corporate Name:
                                        </h4>
                                        <p>@Model.Corporatedetails.CORPORATENAME</p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Email Address:
                                        </h4>
                                        <p>@Model.Corporatedetails.PRINCIPALEMAIL</p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Phone Number:
                                        </h4>
                                        <p>
                                            @Model.Corporatedetails.PRINCIPALEMAIL
                                        </p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Primary Account
                                            Number:
                                        </h4>
                                        <p>
                                            @Model.Corporatedetails.PRINCIPALACCOUNTNO
                                        </p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Line Of Credit:
                                        </h4>
                                        <p>@Model.Corporatedetails.AVAILABLELINEOFCREDIT</p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Initiated Date:
                                        </h4>
                                        <p>@Model.Corporatedetails.CREATEDDATE</p>
                                    </div>
                                    <div class="contract-item">
                                        <h4>
                                            Interest Rate:
                                        </h4>
                                        <p>@Model.Corporatedetails.INTERESTRATE</p>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of modal drawer-->
    <!--end of body-->
</div>
<div id="cmodal"></div>
@section Scripts{
    <script>
        $("a.link").on('click', function () {
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#cmodal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });
            return false;
        });
    </script>
}