@model IEnumerable<CorporateDetails>
@{
	ViewData["Title"] = "Corporate Management";
}


<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-md-6">
            <h1 class="h3 mb-2 text-gray-800">Corporate Management</h1>
        </div>

        <div class="col-md-6" style="text-align:right">
            <a id="lnkCreate" class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus" style="color:white"></i>
                </span>
                <span class="text" style="color:white">Add New Corporate</span>
            </a>
        </div>
    </div>
    <p><label style="color:red">@Html.TempData["message"]</label></p>

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Corporate List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">

                <table class="table table-bordered" id="example" width="100%" style="font-family:Calibri; font-size: 14px;top: 2px;" cellspacing="0">
                    <thead>
                        <tr style="background-color:lightgrey; color:black">
                            <th>Corporate Name</th>
                            <th>Email</th>
                            <th>Phone No.</th>
                            <th>Account No.</th>
                            <th>Interest Rate</th>
                            <th>Available Line</th>
                            <th>Date Initiated</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CORPORATENAME)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PRINCIPALEMAIL)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PRINCIPALPHONENO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PRINCIPALACCOUNTNO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.INTERESTRATE)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AVAILABLELINEOFCREDIT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CREATEDDATE)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "ModifyCorporate", new { id = item.ID }, new { @class = "edit" })

                            </td>
                            <td>
                                @Html.ActionLink("View", "_Details", new { id = item.ID }, new { @class = "view" })
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<div id="editModal"></div>
<div id="detailsModal"></div>
<div id="cmodal"></div>
@section Scripts
	{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'Bfrtip',
                order: [],
                buttons: [

                    //{
                    //    extend: 'copy',
                    //    text: '<i class="fas fa-copy"></i>',
                    //    titleAttr: 'Copy'
                    //},
                    {
                        extend: 'excel',
                        className: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        footer: true,
                        titleAttr: 'Excel'
                    },
                    //{
                    //    extend: 'csv',
                    //    text: '<i class="fas fa-file-csv"></i>',
                    //    titleAttr: 'CSV'
                    //},
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF'
                    }
                ]
            });
        });
        $("a.edit").on('click', function () {
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#editModal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });
            return false;
        });
        $("a.view").on('click', function () {
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#detailsModal').html(result).find('.modal').modal({
                        show: true
                    });
                }

            });
            return false;
        });
        $("#lnkCreate").on('click', function () {
            var u = '/Corporate/AddCorporate';
            $.ajax({
                url: u,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#cmodal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });
            return false;
        });
    </script>
}

