@model Users


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">@Model.USERNAME</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/images/close-icon.png" />
                </button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="contract-item">
                    <h4>
                        User Name:
                    </h4>

                    <p>@Model.USERNAME</p>
                </div>
                <div class="contract-item">
                    <h4>
                        First Name:
                    </h4>
                    <p>@Model.FIRSTNAME</p>
                </div>
                <div class="contract-item">
                    <h4>
                        Last Name:
                    </h4>
                    <p>
                        @Model.LASTNAME
                    </p>
                </div>
                
                @if (Model.USERCLASS == "CORPORATE")
                    {
                        <div class="contract-item">
                            <h4>
                                User's Corporate:
                            </h4>
                                @Model.CORPORATEUSERSCORP
                       </div>
                    }
                    else if (Model.USERCLASS == "VENDOR")
                    {
                        <div class="contract-item">
                            <h4>
                                Vendor Name:
                            </h4>
                                @Model.VENDORNAME
                        </div>

                        <div class="contract-item">
                            <h4>
                                User's Corporate:
                            </h4>
                                @Model.VENDORUSERSCORP
                        </div>
                    }
                    else if (Model.USERCLASS == "VENDORCORPORATE")
                    {
                        <div class="contract-item">
                            <h4>
                                Vendor Name:
                            </h4>
                                @Model.VENDORNAME
                       </div>

                        <div class="contract-item">
                            <h4>
                                Vendor User's Corporate:
                            </h4>
                                @Model.VENDORUSERSCORP
                        </div>

                        <div class="contract-item">
                            <h4>
                                Corporate User's Corporate:
                            </h4>
                                @Model.CORPORATEUSERSCORP
                        </div>
                    }
                <div class="contract-item">
                    <h4>
                        Status:
                    </h4>
                    @if (Model.STATUS == 1)
                    {
                        @Html.Label("ACTIVE", "ACTIVE")
                    }
                    else
                    {
                        @Html.Label("DISABLED", "DISABLED")
                    }
                </div>
                <div class="contract-item">
                    <h4>
                        Initiated By:
                    </h4>
                    <p>@Model.INPUTTERNAME</p>
                </div>

                <div class="contract-item">
                    <h4>
                        Date Created:
                    </h4>
                    <p>@Model.CREATEDDATE</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
        jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
    });

</script>

