@model IEnumerable<BidModel>


    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    }
<div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">Bid List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/images/close-icon.png" />
                </button>
            </div>
            <div class="modal-body py-3 px-5">
                <br /> <br />
                <table id="invoicediscountingTable" class="table  example" style="width:100%">
                    <thead style="text-align:left">
                        <tr>
                          @*  <th>S/N</th>*@
                            <th>Investor Name</th>
                            <th>Interest Rate</th>
                            <th>Bid Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int j = 1;
                        }
                        @if (Model == null || Model.Count() == 0)
                        {
                            <tr>
                                <td colspan="4">No Record Found</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @*<td>
                                        <label> @j </label>
                                        @{
                                            j++;
                                        }
                                    </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.INVESTORNAME)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.INTERESTRATE)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ADDDATETIME)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Accept", "AcceptBid", new { bidId = item.ID, loanId = item.LOANID, invoiceId = item.INVOICEID}, new { @class = "link blue auth", @id = "lnkacceptbid" })
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
           
            <div class="modal-footer modal-footer-fixed border-top-0 d-flex justify-content-center" style="column-gap: 30px;">
                <button type="button" data-dismiss="modal" id="btndecline" class="btn btn-outline-primary orange-outline-btn btn-sm" style="width: 128px;">Close</button>
            </div>
        </div>
    </div>
</div>
    <script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
        });

        $("a.auth").on('click', function () {
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: false,
                success: function (result) {
                    $('#myModal').html(result).find('.modal').modal({
                        show: true
                    });
                }
            });
            return false;
        });

    </script>


