@model InsertBidViewModel


<form asp-controller="Bid" asp-action="_PlaceBid" method="post" autocomplete="off">

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    } 
    <div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header px-5">
                    <h5 class="modal-title">Invoice Number - @Model.InsertBid.INVOICENUMBER</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <img src="~/assets/images/close-icon.png" />
                    </button>
                </div>
                <div class="modal-body py-3 px-5">
                    <div class="contract-item">
                        <h4>
                            Vendor Name:
                        </h4>
                        @Html.HiddenFor(model => model.InsertBid.INVESTORID)
                        @Html.HiddenFor(model => model.InsertBid.INVESTORNAME)
                        @Html.HiddenFor(model => model.InsertBid.LOANID)
                        @Html.HiddenFor(model => model.InsertBid.INVOICEID)
                        @Html.HiddenFor(model => model.InsertBid.INVOICENUMBER)
                        @Html.HiddenFor(model => model.InsertBid.VENDORCODE)
                        @Html.HiddenFor(model => model.InsertBid.LOANTYPE)
                        @Html.HiddenFor(model => model.InsertBid.LOANAMOUNT)
                        <p>@Model.VendorName</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Invoice Number:
                        </h4>
                        <p>@Model.InsertBid.INVOICENUMBER</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Loan Amount:
                        </h4>
                        <p>@Model.LoanAmount</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Interest Rate:
                        </h4>
                        <p>
                            @Html.EditorFor(model => model.InsertBid.INTERESTRATE, new { htmlAttributes = new { @class = "form-control" } })
                            <span asp-validation-for="InsertBid.INTERESTRATE" class="danger-color"></span>
                        </p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Investor Name
                        </h4>
                        <p>@Model.InsertBid.INVESTORNAME</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Bid Date:
                        </h4>
                        <p>@Model.BidDate</p>
                    </div>
                </div>
                <div class="modal-footer modal-footer-fixed border-top-0 d-flex justify-content-center" style="column-gap: 30px;">
                    <button type="submit" class="btn btn-primary my-primary btn-sm" style="width: 128px;">Place Bid</button>
                    <button type="button" data-dismiss="modal" id="btndecline" class="btn btn-outline-primary orange-outline-btn btn-sm" style="width: 128px;">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
        });

    </script>
</form>



