@model InsertBidViewModel


<form asp-controller="Bid" asp-action="_PlaceBid" method="post" autocomplete="off">

    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
    @functions {
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }
    } <div id="view-issue" class="modal fade view-issue" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myLargeModalLabel">Authorize Corporate</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="tb-card-body">
                        <div class="tb-padd-lr-30 tb-alert-wrap">
                            <div class="tb-height-b25 tb-height-lg-b25"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Vendor Name</label>
                                    @Html.HiddenFor(model => model.InsertBid.INVESTORID)
                                    @Html.HiddenFor(model => model.InsertBid.LOANID)
                                    @Html.HiddenFor(model => model.InsertBid.VENDORCODE)
                                    @Html.HiddenFor(model => model.InsertBid.LOANTYPE)
                                    @Html.EditorFor(model => model.VendorName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Invoice Number</label>
                                    @Html.EditorFor(model => model.InsertBid.INVOICENUMBER, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loan Amount</label>
                                    @Html.EditorFor(model => model.LoanAmount, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Interest Rate</label> <span asp-validation-for="InsertBid.INTERESTRATE" class="danger-color"></span>
                                    @Html.EditorFor(model => model.InsertBid.INTERESTRATE, new { htmlAttributes = new { @class = "form-control" } })

                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Investor Name</label>
                                    @Html.EditorFor(model => model.InsertBid.INVESTORNAME, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Bid Date</label>
                                    @Html.EditorFor(model => model.BidDate, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })

                                </div>
                            </div>

                            <div class="tb-height-b15 tb-height-lg-b15"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Place Bid</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
        });

    </script>
</form>



