@model Roles


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">@Model.ROLENAME</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/images/close-icon.png" />
                </button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="contract-item">
                    <h4>
                        Role Name:
                    </h4>

                    <p>@Model.ROLENAME</p>
                </div>
                <div class="contract-item">
                    <h4>
                        CREATOR NAME:
                    </h4>
                    <p>@Model.CREATORNAME</p>
                </div>
                <div class="contract-item">
                    <h4>
                        Module Access:
                    </h4>
                    <p>
                        @Model.MODULES
                    </p>
                </div>
                <div class="contract-item">
                    <h4>
                        Role Status:
                    </h4>
                    <p>
                        @if (Model.STATUS == '1')
                        {
                            @Html.Editor("ACTIVE", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } });
                        }
                        else
                        {
                            @Html.Editor("DISABLED", new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } });
                        }
                    </p>
                </div>
                <div class="contract-item">
                    <h4>
                        Created Date:
                    </h4>
                    <p>@Model.CREATEDDATE</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
        $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
                jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
	    });
</script>

