@model RoleViewModel
@{
    ViewBag.Title = "Index";
}


<div class="row mt-4">
    <div class="col-12 d-flex justify-content-between align-items-center">
        <div class="search-group">
            <input type="text" style="width: 300px;" id="txtSearch" placeholder="search" class="form-control pl-5"
                   aria-label="Text input with checkbox">
            <i class="fa fa-search"></i>
        </div>
        <div>
            
            <div>
                <button type="button" class="btn btn-outline-primary blue-outline-btn" id="lnkCreate">
                    Create New <img src="~/assets/images/plus-icon.png" />
                </button>

                @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                    Download Data <img src="~/assets/images/file-download-icon.png" />
                </button>*@
            </div>

        </div>
    </div>
</div>

<div class="row my-5">
    <div class="col-12">
        <ul class="nav nav-tabs mb-4 border-bottom-0" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active tab-btn " id="all-vendors-tab" data-toggle="tab"
                        data-target="#all-vendors" type="button" role="tab" aria-controls="all-vendors"
                        aria-selected="true">
                    All Roles
                </button>
            </li>
           
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="card my-card tab-pane active" id="all-vendors">
                <div class="card-body px-0">
                    <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                        <h5 class="card-title mb-0">Role List</h5>

                    </div>

                    <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                        <table id="example" class="table example " style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Role Name</th>
                                    <th>Modules</th>
                                    <th>Status</th>
                                    <th>Creator</th>
                                    <th>Date Created</th>
                                    <th></th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                @{ int i = 1; }
                                @if (Model.Roles == null)
                                {
                                    <tr>
                                        <td colspan="9">No Record Found</td>
                                    </tr>
                                }
                                else
                                {
                                    @foreach (var item in Model.Roles)
                                    {
                                        <tr>
                                            <td>
                                                <label> @i </label>
                                                @{ i++; }
                                            </td>
                                            <td>
                                                @*@Html.DisplayFor(modelItem => item.ROLENAME)*@
                                                @Html.ActionLink(item.ROLENAME, "ViewRoleDetailsModal", new { roleId = item.ID}, new { @class = "view", @id= "lnkcontract" })
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.MODULES)
                                            </td>
                                            <td>
                                                @if (item.STATUS == '1')
                                                {
                                                    @Html.Label("ACTIVE")
                                                }
                                                else
                                                {
                                                    @Html.Label("DISABLED")
                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CREATORNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CREATEDDATE)
                                            </td>
                                            <td style="width:120px">
                                                @Html.ActionLink("Edit", "ModifyRole", new { id = item.ID }, new { @class = "edit" })

                                            </td>
                                           
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>

                    </div>
                  
                </div>
            </div>


        </div>
    </div>
</div>



<div id="editModal"></div>
<div id="detailsModal"></div>
<div id="cmodal"></div>
<div id="roleviewmodal"></div>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                dom: 'lrtip',
                order: [],
                buttons: [
                    {
                        extend: 'excel',
                        className: 'excel',
                        text: '<i class="fas fa-file-excel"></i>',
                        titleAttr: 'Excel'
                    },
                    {
                        extend: 'pdf',
                        text: '<i class="fas fa-file-pdf"></i>',
                        titleAttr: 'PDF'
                    }
                ]
            });
        });
        $('#clear').click(function () {

            $('#stats').val('').attr("selected", '');
            $('#roles').val('').attr("selected", '');
            var roles = $("#roles").val();
            var stats = $("#stats").val();
            $('#example').DataTable().column(0).search(roles).draw();
            $('#example').DataTable().column(5).search(stats).draw();
        });
        $('#roles').change(function () {
            var roles = $("#roles").val();
            $('#example').DataTable().column(0).search(roles).draw();
        })
        $('#stats').change(function () {
            var stats = $("#stats").val();
            $('#example').DataTable().column(5).search(stats).draw();
        })

        $("a.view").on('click', function () {
            console.log("At view");
            $.ajax({
                url: this.href,
                type: 'Get',
                cache: true,
                success: function (result) {
                    $('#roleviewmodal').html(result).find('.modal').modal({
                        show: true
                    });
                }

            });
            return false;
        });
        $("#lnkCreate").on('click', function () {
            window.location.href = '@Url.Action("_AddRole", "Role")';
        });

        $('#txtSearch').on('keyup', function () {

            var searchTxt = $("#txtSearch").val();
            $('#example').DataTable().search(searchTxt).draw();
        });
    </script>
}

