@model InvoiceDiscountingVM

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="modal right fade show my-modal" id="right_modal" tabindex="-1" role="dialog" aria-labelledby="right_modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header px-5">
                <h5 class="modal-title">Invoice No - @Model.invoicenumber</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <img src="~/assets/images/close-icon.png" />
                </button>
            </div>
            <div class="modal-body py-3 px-5">
                <div class="invoice-section">
                    <div class="contract-item">
                        <h4>
                            General Ledger:
                        </h4>
                        <p>@Model.GL</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Discount Amount:
                        </h4>
                        <p>@Model.requestedamount</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Disbursement Date:
                        </h4>
                        <p>@Model.disbursementDate</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Disbursement Status:
                        </h4>
                        @if (Model.FundsDisbursed == 1)
                        {
                            <p class="text-success">Disbursed</p>
                        }
                        else
                        {
                            <p class="text-warning">Pending</p>
                        }
                    </div>
                    <div class="contract-item">
                        <h4>
                            Reason/Comment:
                        </h4>
                        <p>-</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Repayment Date:
                        </h4>

                        @if (Model.LoanRepaid == 1)
                        {
                            <p>@Model.RepaymentDate</p>
                        }
                        else
                        {
                            <p>@Model.ExpectedRepaymentDate</p>
                        }

                    </div>
                    <div class="contract-item">
                        <h4>
                            Repayment Status:
                        </h4>
                        @if (Model.LoanRepaid == 1)
                        {
                            <p class="text-success">Disbursed</p>
                        }
                        else
                        {
                            <p class="text-warning">Pending</p>
                        }
                    </div>
                    <div class="contract-item">
                        <h4>
                            Reason/Comment:
                        </h4>
                        <p>-</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Interest Rate:
                        </h4>
                        <p>@Model.interestrate%</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Interest Amount Charged:
                        </h4>
                        <p>@Model.interest</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Beneficiary Account Name:
                        </h4>
                        <p>@Model.vendoraccountname</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Beneficiary Account Number:
                        </h4>
                        <p>@Model.vendoraccountno</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Loan Tenor:
                        </h4>
                        <p>@Model.loantenor</p>
                    </div>
                    <div class="contract-item">
                        <h4>
                            Corporate Client:
                        </h4>
                        <p>@Model.corporatename</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    $.ajaxPrefilter(function (options, originalOptions, jqXHR) {
            jqXHR.setRequestHeader("__RequestVerificationToken", '@GetAntiXsrfRequestToken()');
    });

</script>