@model InvoiceVendorViewModel
@{
    ViewData["Title"] = "Vendor Invoice";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-between">
            <h3 class="page-title">Invoices</h3>
            <p>@DateTime.UtcNow.ToShortDateString()</p>

        </div>
    </div>

    <div class="row my-2">
        <div class="col-12">
            <div class="col-12 d-flex justify-content-between align-items-center">

                <ul class="nav nav-tabs mb-4 border-bottom-0" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active tab-btn " id="invoices-tab" data-toggle="tab"
                                data-target="#invoiceDet" type="button" role="tab" aria-controls="invoices"
                                aria-selected="true">
                            Invoices
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link tab-btn" id="invoice-discounting-tab" data-toggle="tab"
                                data-target="#invoiceDiscounting" type="button" role="tab" aria-controls="invoice-discounting"
                                aria-selected="false">
                            Invoice Discounting Requests
                        </button>
                    </li>
                </ul>
                <div class="row mb-4 border-bottom-0">
                    <div id="dvInvoiceSearch" class="search-group">
                        <input type="text" id="txtSearch" style="width: 300px;" placeholder="search" class="form-control pl-5"
                               aria-label="Text input with checkbox">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="dvInvoiceDiscSearch" class="search-group" style="display:none">
                        <input type="text" id="txtSearchInvoiceDisc" style="width: 300px;" placeholder="search" class="form-control pl-5"
                               aria-label="Text input with checkbox">
                        <i class="fa fa-search"></i>
                    </div>
                    <div id="dvSpaceID">&emsp;</div>
                    <div>
                        <button type="button" class="btn btn-outline-primary blue-outline-btn" id="lnkCreate">
                            Create New <img src="~/assets/images/plus-icon.png" />
                        </button>

                        @*<button type="button" class="btn btn-outline-primary blue-outline-btn">
                            Download Data <img src="~/assets/images/file-download-icon.png" />
                        </button>*@
                    </div>
                    
                </div>
            </div>


                <div class="tab-content" id="myTabContent">
                    <div class="card my-card tab-pane active " id="invoiceDet">
                        <div class="card-body px-0">
                            <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                                <h5 class="card-title mb-0">Invoice List</h5>

                            </div>

                            <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                                <table id="invoiceTable" class="table" style="width:100%">
                                    <thead style="text-align:left">
                                        <tr>
                                            <th>S/N</th>
                                            <th>Project Name</th>
                                            <th>Invoice No</th>
                                            <th>Amount</th>
                                            <th>Contract No</th>
                                            <th>Client(Corporate)</th>
                                            <th>Date Created</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int i = 1; }
                                        @if (Model.InvoiceDetails == null)
                                        {
                                            <tr>
                                                <td colspan="8">No Record Found</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.InvoiceDetails)
                                            {
                                                <tr>
                                                    <td>
                                                        <label> @i </label>
                                                        @{ i++; }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.projectname)
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink(item.invoicenumber, "GetVendorInvoiceModal", new { invoiceId = item.invoiceid }, new { @class = "link blue", @id = "lnkinvoice" })
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.totalincludingvat)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.contractnumber)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CorporateName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.invoicedate)
                                                    </td>

                                                    <td>
                                                        @if (item.invoicestatus == "REJECTED")
                                                        {
                                                            <div class="status alert alert-danger mb-0 py-1" role="alert">
                                                                <label style="width:80px">Rejected</label>
                                                            </div>
                                                        }
                                                        else if (item.invoicestatus == "COMPLETED")
                                                        {
                                                            <div class="status alert alert-info mb-0 py-1" role="alert">
                                                                <label style="width:80px">Completed</label>
                                                            </div>
                                                        }
                                                        else if (item.invoicestatus == "PENDING")
                                                        {
                                                            <div class="status alert alert-warning mb-0 py-1" role="alert">
                                                                <label style="width:80px">Pending</label>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @if (item.invoicestatus == "REJECTED")
                                                        {
                                                            <div class="d-flex justify-content-around">
                                                                <a href="@Url.Action("ModifyInvoice", "Invoice", new { id = item.invoiceid })" title="Modify Invoice">
                                                                    <img src="~/assets/images/edit.png" class="mr-2">
                                                                </a>
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>

                    <div class="card my-card" id="invoiceDiscounting">
                        <div class="card-body px-0">
                            <div class="header px-4 pb-3 d-flex justify-content-between align-items-center">
                                <h4 class="card-title mb-0">
                                    Invoice Discounting Requests
                                </h4>

                            </div>
                            <div class="notif-wrapper p-4 notif-card " style="height: 55vh;">
                                <table id="invoicediscountingTable" class="table  example" style="width:100%">
                                    <thead style="text-align:left">
                                        <tr>
                                            <th>S/N</th>
                                            <th>Invoice Number</th>
                                            <th>Discounting Amount</th>
                                            <th>Disbursement Date</th>
                                            <th>Disbursement Status</th>
                                            <th>Repayment Date</th>
                                            <th>Repayment Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{ int j = 1; }
                                        @if (Model.InvoiceDiscounting == null)
                                        {
                                        <tr>
                                            
                                            <td colspan="8">No Record Found</td>
                                        </tr>
                                        }
                                        else
                                        {
                                            @foreach (var item in Model.InvoiceDiscounting)
                                            {
                                                <tr>
                                                    <td>
                                                        <label> @j </label>
                                                        @{ j++; }
                                                    </td>
                                                    <td>
                                                        @Html.ActionLink(item.invoicenumber, "GetInvoiceDiscountingById", new { invoiceId = item.invoiceid }, new { @class = "link blue", @id = "lnkinvdisc" })
                                                    </td>
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => Model.InvoiceDiscountingGL)
                                                    </td>*@
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.requestedamount)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.disbursementDate)
                                                    </td>
                                                    <td>
                                                        @if (item.FundsDisbursed == 1)
                                                        {
                                                            <div class="status alert alert-success mb-0 py-1" role="alert">
                                                                <label>Disbursed</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="status alert alert-warning mb-0 py-1" role="alert">
                                                                <label>Pending</label>
                                                            </div>
                                                        }
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.RepaymentDate)
                                                    </td>
                                                    <td>
                                                        @if (item.LoanRepaid == 1)
                                                        {
                                                            <div class="status alert alert-success mb-0 py-1" role="alert">
                                                                <label>Completed</label>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="status alert alert-warning mb-0 py-1" role="alert">
                                                                <label>Pending</label>
                                                            </div>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    </div>  
</div>

    <div id="cmodal"></div>
    @section Scripts
	{
        <script>

            $(document).ready(function () {
                $('#invoiceTable').DataTable({
                    dom: 'lrtip',
                    order: [],
                    paging: true,
                    info: true,
                    buttons: [
                        {
                            extend: 'excel',
                            className: 'excel',
                            text: '<i class="fas fa-file-excel"></i>',
                            footer: true,
                            titleAttr: 'Excel'
                        },
                        {
                            extend: 'pdf',
                            text: '<i class="fas fa-file-pdf"></i>',
                            titleAttr: 'PDF'
                        }
                    ]
                });

                $('#invoicediscountingTable').DataTable({
                    dom: 'lrtip',
                    order: [],
                    paging: true,
                    info: true
                });
            });
            $("a.link").on('click', function () {
                $.ajax({
                    url: this.href,
                    type: 'Get',
                    cache: true,
                    success: function (result) {
                        console.log("Result is :: " + result);
                        $('#cmodal').html(result).find('.modal').modal({
                            show: true
                        });
                    }
                });
                return false;
            });
            $('#txtSearch').on('keyup', function () {
                var searchTxt = $("#txtSearch").val();
                $('#invoiceTable').DataTable().search(searchTxt).draw();
            });
            $('#txtSearchInvoiceDisc').on('keyup', function () {

                var searchTxt = $("#txtSearchInvoiceDisc").val();
                $('#invoicediscountingTable').DataTable().search(searchTxt).draw();
            });
            $('button[data-toggle="tab"]').on('shown.bs.tab', function (e) {

                var target = $(e.target).attr("data-target"); // activated tab
                if (target == "#invoiceDet") {
                    $("#dvInvoiceSearch").show();
                   // $("#dvSpaceInv").show();
                    $("#dvInvoiceDiscSearch").hide();
                   // $("#dvSpaceID").hide();
                 } else {
                    $("#dvInvoiceSearch").hide();
                   // $("#dvSpaceInv").hide();
                    $("#dvInvoiceDiscSearch").show();
                   //$("#dvSpaceID").hide();
                }
            });

            $("#lnkCreate").on('click', function () {
                window.location.href = '@Url.Action("CreateExternalInvoice", "Invoice")';           
            });
        </script>
    }

